{{ partial "default_head.html" . }}

  <div class="content container">
	<div class="posts">
      <div class="post">

 	    {{ range .Data.Pages }}
           <h2><a href='{{ .Permalink }}'>{{ .Title }}</a> </h2>
           <!--  <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div> -->
		
		{{ .Summary }} 

           <footer>
              <a href='{{ .Permalink }}'><nobr><i>Read more ></i></nobr></a>
           </footer>

	    {{ end }}
	  
 	  </div>
    </div>
  </div>

{{ partial "default_foot.html" . }}
