{{ template "chrome/head.html" . }}
<body>

{{ template "chrome/sidebar.html" . }}

    <div class="content container">

	<div class="posts">

 
  <div class="post">

	{{ range .Data.Pages }}

    <header>
      <h2><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
    <!--  <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div> -->
    </header>
	
	{{ if eq .RelPermalink "/sos-guidelines/index.html" }} 
		{{ .Content }}
	{{else}}
		{{ .Summary }} 
	{{end}}

    <footer>
        <a href='{{ .Permalink }}'><nobr><i>Read more ></i></nobr></a>
    </footer>

	{{ end }}

	</div>


</div>


  </body>
</html>
